<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Sample To-Do List</title>
<meta http-equiv="content-type" content="text/html; charset=us-ascii" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="stylesheet" type="text/css" href="template/stylesheet.css" media="screen" />
</head>
<body>
<div id="title"><a name="top">Sample To-Do List</a></div>
<hr style="color: #ccc;"/>
<div id="body">
